<section class="section-intro">
  <div class="intro">
  <div class="intro-text-box">
      <h1 class="heading-primary">A helping hand on your jouney to health
      </h1>
      <p class="intro-description">
      This is where I put stuff to convince people that this is a good idea and I can help them. I will have to think about what to actually put here and convince myself that I can actually help people. Which is purely all conjecture at this point.</p>
      <a href="#" class="btn btn--full margin-right-sm ">Start Today</a>
      <a href="#" class="btn btn--outline">Learn more &darr;</a>
    </div>
    <div class="intro-img-box">
      <img src="assets/img/intro.jpg" class="intro-img" alt="Woman practicing
       yoga">
    </div>
  </div>
</section>